@import "settings";
@import "../bower_components/foundation/scss/foundation";
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
@import "mixins";

//@import url(//fonts.googleapis.com/css?family=Philosopher:400italic,400,700italic,700);

@font-face {
  font-family: 'fontello';
  src: url('../images/icons/fontello/font/fontello.eot?77742576');
  src: url('../images/icons/fontello/font/fontello.eot?77742576#iefix') format('embedded-opentype'),
  url('../images/icons/fontello/font/fontello.woff?77742576') format('woff'),
  url('../images/icons/fontello/font/fontello.ttf?77742576') format('truetype'),
  url('../images/icons/fontello/font/fontello.svg?77742576#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::after, [class*=" icon-"]::after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  margin-left: .2em;
}

@media #{$xxlarge-up}{
  body {
    max-width: 1920px;
  }
  #scrollHeader {
    max-width: 1920px;
  }
}

.row {
  padding: 10px 0px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-weight: 300;
}

@media #{$medium-up}{
  h1, h2, h3, {
    font-weight: 200;
  }
}

h4, h5, h6, p {
  font-weight: 400;
}

button {
  letter-spacing: 1.5px;
}

label {
  font-size: 1rem;
}

header {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 5;
  overflow: hidden;
  nav {
    width: 80%;
    float: right;
  }
  ul {
    @include ulLinks(uppercase, inherit);
    text-align: right;
    font-size: .9rem;
    line-height: 4.5rem;
    margin-left: 0;
  }
  ul li {
    display: inline;
  }
  .logo {
    @include logo(10px auto -10px auto, 60px, 30px);
  }
}

@media #{$medium-up} {
  header {
    nav {
      width: 50%;
    }
    ul {
      font-size: 1.2rem;
      line-height: 4.8rem;
    }
    ul li {
      padding-right: 5%;
    }
    .logo {
      @include logo(20px auto -20px auto, 100px, 50px);
    }
  }
}

@media #{$large-up} {
  header {
    .logo {
      @include logo(20px auto -20px 10%, 100px, 50px);
    }
  }
}

.hgroup {
  height: 200px;
  padding-top: 75px;
  text-align: center;
  width: 100%;
  z-index: 3;
  background: url(../images/test-photo-copy.png) center no-repeat;
  background-size: cover;
  background-color: rgba($body-bg, 0.3);
  background-blend-mode: screen;
  background-attachment: fixed;
  overflow: hidden;
  h1, h2 {
    line-height: 1.2rem;
    color: $secondary-color;
  }
  .mainButtons {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0;
  }
  svg {
    margin-top: -41px;
    width: 180%;
    margin-left: -40%;
    height: 100px;
    z-index: 2;
  }
  svg > g {
    opacity: 0;

  }
}

@media #{$medium-up} {
  .hgroup {
    height: 350px;
    padding-top: 125px;
    h1, h2 {
      line-height: inherit;
    }
    .mainButtons {
      font-size: 50px;
    }
    svg {
      margin-top: -9px;
      height: 150px;
    }
  }
}

@media #{$large-up} {
  .hgroup {
    height: 500px;
    padding-top: 200px;
    h1, h2 {
      line-height: inherit;
    }
    .mainButtons {
      font-size: 75px;
    }
    svg {
      margin-top: -31px;
      height: 250px;
    }
  }
}

#search {
  padding: 5%;
  border-top: 0px solid white;
  figure {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .ui-corner-all {
    border-radius: 1px;
  }
  .ui-slider-horizontal {
    border: 6px solid $vapor;
    background-image: none;
    background-color: $white;
  }
  .ui-slider-horizontal .ui-slider-range, .ui-widget-header {
    background: none;
    height: 100%;
    background-color: $primary-color;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -0.5rem;
    border: 8px solid $white;
    background-image: none;
    background-color: $primary-color;
  }
  .ui-widget-content .ui-state-hover,
  .ui-widget-content .ui-state-focus {
    outline: none;
    border: 6px solid $white;
    background-color: $primary-color;
  }
}

#recentListings {
  .listing {
    @include listing('../images/test-photo-copy.png', 20% 0);
  }
}

footer {
  height: 280px;
  margin-top: 2%;
  text-align: center;
  display: inline-block;
  width: 100%;
  background: url('../images/test-photo-copy.png') no-repeat scroll center bottom / cover transparent;
  background-color: rgba($alert-color, .8);
  background-blend-mode: screen;
  background-attachment: fixed;
  box-shadow: 0px 0px 50px 10px $tuatara inset;
}

/*
Contact page styles
*/

#map_canvas {
  width: 100%;
  height: 400px;
}

/*
Many Listings page styles
*/

#searchResultsHeader {
  @include scrollHeader(10%, right, 3rem);
}

@media #{$medium-up} {
  #searchResultsHeader {
    @include scrollHeader(8%, right, 3.6rem);
    .logo {
      @include logo(20px auto 0px 1%, 100px, 50px);
    }
  }
}

@media #{$large-up} {
  #searchResultsHeader {
    @include scrollHeader(8%, right, 4.8rem);
  }
}

#refineSearch #accordion {
  h3 {
    outline: none;
    .icon-direction-down::after {
      content: '\e803';
      float: right;
      color: $alert-color;
      font-size: 1rem;
    }
    .icon-direction-up::after {
      content: '\e80a';
    }
  }
  h3:hover {
    cursor: pointer;
    .icon-direction-down::after {
      color: $primary-color;
    }
  }
  #refineSearch #accordion > div {
    display: none;
  }
}

#searchResultLisitngs {
  .lisitng {
    @include listing('../images/test-photo-copy.png', 0);
  }
}

/*
Single Listing page styles
*/

#singleListingHeader {
  @include scrollHeader(70px, left, 3rem);
  display: none;
  background-color: rgba($panel-bg, .9);
  ul a {
    color: rgba($alert-color, .8);
  }
  ul a:hover, ul a:active, ul a:focus {
    border-bottom-color: rgba($alert-color, 1);
    color: $alert-color;
  }
}

.stickOnScroll {
  position: fixed;
  width: 18%;
  left: 59%;
  top: 130px;
  z-index: 5;
  margin-top: -2px;
  #scrollPrice {
    background-color: $white;
    color: $alert-color;
  }
}

#scrollPrice {
  background-color: $panel-bg;
  height: 70px;
  padding: 10px;
  z-index: 6;
  color: $primary-color;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@media #{$medium-up}{
  #scrollPrice {
    margin-top: -138px;
  }
}

#details h3 {
  color: $jumbo;
  font-style: italic;
}
